.App {
  display: flex;
  text-align: center;
  flex-direction: column;
  align-items: center;

  h1 {
    margin: 0;
  }

  h3 {
    color: rgb(82, 82, 82);
  }
}

canvas {
  position: absolute;
}

video {
   transform: scaleX(-1);
}

.subtitle {
  display: flex;
  align-items: center;

  span {
    width: 20px;
    height: 20px;
    border-radius:50%;
    margin-left: 20px;
  }
}